
<div class="row float-right pr-2">
    <button (click)="download()" mat-mini-fab class="float-right"
            matTooltip="Download Circuit." matTooltipClass="tooltip-large"
            color="primary">
            <mat-icon>system_update</mat-icon>
        </button>
</div>
<div class="row exportCode pr-4">
    <div class="outerDiv" style="height: auto; width: 100%" class="pt-2">
        <ngx-monaco-editor style="min-height: 700px" [options]="editorOptions" [(ngModel)]="data.circuits[2]"></ngx-monaco-editor>
    </div>
    
</div>