<p>
  <mat-toolbar color="primary">
    <span class="spacer"></span>
      <span>Quantum Circuit Transpiler</span>
      
      <span class="spacer-large"></span>

      <div>

        
        <a mat-button [routerLink]="'/convert'"> <mat-icon>compare_arrows</mat-icon>  Convert </a>
        <a mat-button [routerLink]="'/import'"> <mat-icon>input</mat-icon> Import </a>
        <a mat-button [routerLink]="'/circuit'"> <mat-icon>code</mat-icon> Circuit </a>
        <a mat-button [routerLink]="'/export'"> <mat-icon>arrow_forward</mat-icon> Export </a>
  
      </div>
      <span class="spacer"></span>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>

