pytket>=0.18.0
pytket-qsharp>=0.20.0
pytket-braket>=0.15.0
pytket-pyquil>=0.19.0
pytket-qiskit>=0.21.0
qiskit>=0.33.0
pyquil>=3.0.1
numpy>=1.20.3
flask==1.1.4
markupsafe==2.0.1
flask-cors==3.0.9
ply==3.11
amazon-braket-sdk==1.11.1
pydot>=1.4.2
qsharp
cirq>=0.14.1
IPython>=7.29.0
pennylane==0.21.0
pennylane-qsharp==0.19.0
pennylane-qiskit==0.21.0
amazon-braket-pennylane-plugin==1.5.6
git+https://github.com/softwareQinc/staq

