pytket==0.18.0
pytket-qsharp>=0.17.0
pytket-braket>=0.8.2
pytket-pyquil>=0.17.0
pytket-cirq>=0.17.0
pytket-qiskit>=0.17.0
qiskit>=0.23.1
pyquil>=2.25.0
numpy>=1.19.4
flask==1.1.2
flask-cors==3.0.9
amazon-braket-sdk
pydot
qsharp
cirq
IPython
