<div class="container-fluid">
  <mat-horizontal-stepper  #stepper (selectionChange)="onStepChange($event)">
    <mat-step [stepControl]="firstFormGroup" state="input">
      <ng-template matStepLabel>Import</ng-template>
      <app-import></app-import>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" state="circuit">
      <ng-template matStepLabel>Visualize and Edit </ng-template>
      <app-circuit></app-circuit>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" state="circuit">
      <ng-template matStepLabel>Transpile and Export</ng-template>
      <app-analyze #analyze></app-analyze>
    </mat-step>
  </mat-horizontal-stepper>
</div>

