<div cdkDropListGroup class="tab-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h4>Possible Gates</h4>
                <div cdkDropListSortingDisabled id="gateList" class="row" cdkDropList #gateList="cdkDropList"
                    [cdkDropListData]="operationList" cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)">
                    <div class="col" *ngFor="let item of operationList">
                        <div class="gate" cdkDrag>
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>



            <mat-divider class="w-100 mb-3 mt-3"></mat-divider>

            <div *ngFor="let qubit of data.qubitNames; index as qubitIndex">
                <div class="row">
                    <div class="custom-container">
                        <div class="qubitName">
                            |{{qubit}}>
                        </div>
                        <div [id]="qubit" cdkDropList cdkDropListOrientation="horizontal"
                            #gateList="cdkDropList" [cdkDropListData]="data.operationsAtBit[0]" class="list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="placeholder"
                                *ngFor="let operationIndex of data.operationsAtBit[qubitIndex]; index as index">
                                <div class="box" cdkDrag *ngIf="!operationIndex.placeholder">
                                    {{operationIndex.operation.name}}
                                </div>
                                <div cdkDrag *ngIf="operationIndex.placeholder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>