@import "../../styles.scss";



.gate {
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  z-index: 1;
  background-color: white;
  overflow: hidden;
  display: block;
  cursor: move;
}


.qubitName {
  position: absolute;
  top: 27%;
  left: 0px;
  background-color: white;
  z-index: 1;
  padding-right: 5px;
}

.custom-container {
  width:100%;
  // margin: 0 25px 25px 0;
  display: inline-block;
  position: relative;
}

.list {
  width: 100%;  
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  z-index: -1;
  padding-left: 25px;
}


.custom-container:after {
  position: absolute;
  top: 45%;
  height: 1px;
  background: $dark;
  content: "";
  width: 100%;
  display: block;
  z-index: 0;
}

.box {
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  z-index: 1;
  background-color: white;
  overflow: hidden;  
  display: block;
  cursor: move;
  box-sizing: border-box;
  flex-direction: row;
}

.placeholder {
  width: 60px;
  height: 60px;
  z-index: 1;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
