<!-- <div class="container-fluid">
    <div class="row possibleGates">
        <div class="col" id="gateList" cdkDropList #gateList="cdkDropList" [cdkDropListData]="operationList"
            *ngFor="let operation of operationList"
            (cdkDropListDropped)="drop($event)">
            <div class="gate" cdkDrag>
                {{operation.name}}
            </div>

        </div>
    </div>


    <mat-divider></mat-divider>
    <div>
        <div *ngFor="let qubit of data.qubitNames; index as index_qubit">
            <div class="row">
                <div class="col-1 qubitName">
                    |{{qubit}}>
                </div>

                <div class="col-11">
                    <div class="row circuit" id={{index_qubit}} #circuitList="cdkDropList"
                        [cdkDropListData]="data.operationsAtBit" cdkDropList
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let _ of [].constructor(data.maxIndexTotal); index as index" class="placeholder">
                            <div cdkDrag [cdkDragData]="[index, index_qubit]" class="gate"
                                *ngIf="data.operationsAtBit[index_qubit][index]">
                                {{data.operationsAtBit[index_qubit][index].operation.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="cotainer-fluid">
    <div class="col" cdkDropList #gateList="cdkDropList" [cdkDropListData]="operationList"
        [cdkDropListConnectedTo]="[circuitList]" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let operation of operationList">
            <div class="gate" cdkDrag>
                {{operation.name}}
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row circuit" #circuitList="cdkDropList" [cdkDropListData]="data.operationsAtBit[0]"
        [cdkDropListConnectedTo]="[gateList]" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let _ of [].constructor(data.maxIndexTotal); index as index" class="placeholder">
            <div cdkDrag class="gate" *ngIf="data.operationsAtBit[0][index]">
                {{data.operationsAtBit[0][index].operation.name}}
            </div>
        </div>
    </div>

</div> -->

<div cdkDropListGroup>
    <div class="container-fluid">
        <div class="row">
            <div>
                <h2>Possible Gates</h2>
                <div cdkDropListSortingDisabled id="gateList" class="row" cdkDropList #gateList="cdkDropList"
                    [cdkDropListData]="operationList" cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)">
                    <div class="col" *ngFor="let item of operationList">
                        <div class="gate" cdkDrag>
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>

            <mat-divider class="w-100 mb-5 mt-5"></mat-divider>

            <div *ngFor="let qubit of data.qubitNames; index as qubitIndex">
                <div class="row">
                    <div class="custom-container">
                        <div class="qubitName">
                            |{{qubit}}>
                        </div>
                        <div [id]="qubit" cdkDropList cdkDropListOrientation="horizontal" #gateList="cdkDropList"
                            [cdkDropListData]="data.operationsAtBit[0]" class="list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="placeholder"
                                *ngFor="let operationIndex of data.operationsAtBit[qubitIndex]; index as index">
                                <div class="box" cdkDrag *ngIf="!operationIndex.placeholder">
                                    {{operationIndex.operation.name}}
                                </div>
                                <div cdkDrag *ngIf="operationIndex.placeholder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- <div class="row">
                <div class="custom-container"> 
                    <div cdkDropList cdkDropListOrientation="horizontal" #gateList="cdkDropList" [cdkDropListData]="secondList" class="list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="placeholder" *ngFor="let item of secondList">
                            <div class="box" cdkDrag>{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>