@import "../../styles.scss";

.mat-divider {
  width: 100%;
  padding-top: 20px;
}

.row {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.circuit {
  position: relative;
}


// .line {
//     width: 100%;
//     border-bottom: 1px solid black;
//     vertical-align: middle;
// }

.placeholder {
  width: 55px;
  height: 55px;
}

// .gate:hover {
//   background-color: $primary;
//   color: white;
// }

.gate {
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  z-index: 1;
  background-color: white;
  overflow: hidden;
  display: block;
  cursor: move;
}

.qubitName {
  padding-top: 20px;
}

.custom-container {
  width:100%;
  // margin: 0 25px 25px 0;
  display: inline-block;
  position: relative;
}

.list {
  max-width: 100%;  
  min-height: 55px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  z-index: -1;
}


.custom-container:after {
  position: absolute;
  left: 0;
  top: 70%;
  height: 1px;
  background: $dark;
  content: "";
  width: 100%;
  display: block;
  z-index: 0;
}

.box {
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  z-index: 1;
  background-color: white;
  overflow: hidden;
  display: block;
  cursor: move;
  box-sizing: border-box;
  flex-direction: row;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
