<div class="container pt-4">
    <div class="row ">
        <div class="col-6">
            <mat-form-field class="w-100">
                <mat-label> Choose Input Language/Framework</mat-label>
                <mat-select (selectionChange)="changed($event)">
                    <p class="pl-2 pt-2 subtitle">Languages</p>
                    <mat-option value="OpenQASM">
                        OpenQASM
                    </mat-option>
                    <mat-option value="Quil">
                        Quil
                    </mat-option>
                    <mat-divider></mat-divider>
                    <p class="pl-2 pt-2 subtitle">Frameworks</p>
                    <mat-option value="Qiskit">
                        Qiskit
                    </mat-option>
                    <mat-option value="Pyquil">
                        Pyquil
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <input id="fileInput" type="file" />
            <button (click)="inputFile()" mat-mini-fab class="" matTooltip="Import File."
                matTooltipClass="tooltip-large" color="primary">
                <mat-icon>publish</mat-icon>
            </button>
        </div>

        <div class="col-3">
            <button (click)="computeInternal()" mat-mini-fab class="float-right" matTooltip="Compute internal representation (Qiskit Circuit)."
                matTooltipClass="tooltip-large" color="primary">
                <mat-icon>forward</mat-icon>
            </button>
        </div>



    </div>

    <div class="row">

        <!-- <mat-form-field class="w-100 " appearance="outline">
            <mat-label>Input</mat-label>
            <textarea [(value)]="circuit" matInput cdkTextareaAutosize cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="20"></textarea>
        </mat-form-field> -->

        <div class="outerDiv" style="height: auto; width: 100%" class="pt-2">
            <ngx-monaco-editor style="min-height: 500px" [options]="editorOptions" [(ngModel)]="circuit"></ngx-monaco-editor>
        </div>
    </div>





</div>