<h4>{{gate.operation.name}} Gate</h4>
<div class="pl-4 row matList">
    <div class="col-3">
        <div mat-subheader>Control Qubits</div>
        <div class="col" *ngFor="let qubit of gate.qubits; index as index">
            <input matInput type="number" *ngIf="(index < gate.operation.numberOfCtrlBits)" [(ngModel)]="gate.qubits[index]" (ngModelChange)="change()">
        </div>

    </div>
    <div class="col-3">
        <div mat-subheader>Target Qubits</div>
        <div class="col" *ngFor="let qubit of gate.qubits; index as index">
            <input matInput type="number" *ngIf="(index >= gate.operation.numberOfCtrlBits)" [(ngModel)]="gate.qubits[index]" (ngModelChange)="change()">
        </div>
    </div>
    <div class="col-3">
    <div mat-subheader>Classical Bits</div>
        <div class="col" *ngFor="let clbit of gate.clbits; index as index">
            <input matInput type="number" [(ngModel)]="gate.clbits[index]" (ngModelChange)="change()">
        </div>
    </div>
    <div class="col-3">
        <div mat-subheader>Parameter</div>
        <div class="col" *ngFor="let parameter of gate.parameter; index as index">
            <input matInput type="number" [(ngModel)]="gate.parameter[index]" (ngModelChange)="change()">
        </div>
    </div>
</div>