<div class="container-fluid" class="tab-content">
    <div class="chart" *ngIf="counts.length != 0">
        <mat-divider class="mt-3"></mat-divider>
        <div class="row pt-3">
            <div style="display: block">
                <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                    [colors]="chartColors" [options]="chartOptions" [legend]="true"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>

<button mat-raised-button class="mt-3 redoButton" (click)="simulate()"><mat-icon>redo</mat-icon>Recompute</button>

