<div class="container pt-2">
    <div class="row pt-2">
        <div class="col"></div>
        <div class="col text-center">
            <button (click)="computeExport()" mat-mini-fab matTooltip="Export Circuit in the chosen format."
                matTooltipClass="tooltip-large" color="primary">
                <mat-icon>forward</mat-icon>
            </button>
        </div>

        <div class="col float-right">
            <mat-form-field class="w-100">
                <mat-label> Choose Export Language/Framework</mat-label>
                <mat-select (selectionChange)="changed($event)">
                    <p class="pl-2 pt-2 subtitle">Languages</p>
                    <mat-option value="OpenQASM">
                        OpenQASM
                    </mat-option>
                    <mat-option value="Quil">
                        Quil
                    </mat-option>
                    <mat-divider></mat-divider>
                    <p class="pl-2 pt-2 subtitle">Frameworks</p>
                    <mat-option value="Qiskit">
                        Qiskit
                    </mat-option>
                    <mat-option disabled
                        matTooltip="Pyquil program can be exported in the backend. However, converting it to a string to show it in the frontend is not useful. Use Quil in this case."
                        matTooltipClass="tooltip-large" value="Pyquil">
                        Pyquil
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
    </div>

</div>

<div class="container-fluid pt-2">
    <div class="row">
        <div class="col content-left">
            <app-code circuitRef='current'></app-code>

        </div>
        <div class="col">
            <app-output></app-output>
        </div>
    </div>