@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: #3f51b5;
$dark: #002984;
$light: #757de8;


.tooltip-large {
    font-size: 12px;
}

.content-left {
    border-right: 1px solid #3f51b5;
}

a:hover {
    opacity: 80% !important;
}

.selectionTitle {    
    color: rgb(68, 68, 68);
}

.tab-content {
    padding-top: 10px;
}

.mat-tooltip {
    white-space: pre-line;
}