@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: #3f51b5;
$dark: #002984;
$light: #757de8;


.tooltip-large {
    font-size: 12px;
}

.content-left {
    border-right: 1px solid #3f51b5;
}

a:hover {
    opacity: 80% !important;
}

.selectionTitle {    
    color: rgb(68, 68, 68);
}

.tab-content {
    padding-top: 10px;
}

.mat-tooltip {
    white-space: pre-line;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.myLineDecoration {
	background: lightblue;
	width: 5px !important;
	margin-left: 3px;
}